DOCUMENT_CLOUD_USERNAME=""
DOCUMENT_CLOUD_PASSWORD=""
DOCUMENT_CLOUD_ACCOUNT=""
DOCUMENT_CLOUD_PROJECT=""
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""
DJANGO_SETTINGS_MODULE=core.settings.dev
PROJECT_NAME=cityhallmonitor
DJANGO_SECRET_KEY=development
APPLICATION_DOMAINS=localhost,127.0.0.1
DB_ENGINE__DEFAULT=django.db.backends.postgresql_psycopg2
DB_NAME__DEFAULT=cityhallmonitor_dev
DB_USER__DEFAULT=postgres
DB_PASSWORD__DEFAULT=postgres
DB_HOST__DEFAULT=postgres
DB_PORT__DEFAULT=5432
