/* colors */
.container {
  margin-top: 40px; }

.container > .panel {
  margin-top: -40px; }

footer {
  margin-top: 40px; }

/* Title style overrides */
h1,
h2.intro {
  text-align: center; }

#big-hed {
  margin-bottom: 40px; }

h1 span.secondary {
  display: block; }

span.logo-mark.xxl {
  margin-top: 0; }

/* Navbar */
.logo {
  width: 130px;
  margin: 12px auto; }

/* Big photo styles for index */
body {
  /*    &:before{
          content: ' ';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          opacity: 0.8;
          background-image: url("https://c2.staticflickr.com/8/7334/16179217449_7a0eec61b2_h.jpg");
          background-repeat: no-repeat;
          background-position: 50% 0;
          -ms-background-size: cover;
          -o-background-size: cover;
          -moz-background-size: cover;
          -webkit-background-size: cover;
          background-size: cover;
      }*/ }

.main-photo-credit {
  /*    position: absolute;
      bottom: 0;
      right: 0;
      background-color: rgba(204, 204, 204, 0.8); //$iron
      font-family: $font-family-sans-serif;
      padding: 10px;
      color: $white;
      p { margin-bottom: 0; font-size: 12px; }
      a { color: $white; text-decoration: underline; }*/
  display: none; }

.img-overlay {
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  padding: 40px 0;
  border: 1px solid #ccc;
  width: 90%; }

/* Filter UI */
#date-range-search label {
  display: inline-block;
  font-size: 12px;
  margin-top: 0px; }
  #date-range-search label:first-child {
    margin-right: 10px; }
#date-range-search input[type='radio'] {
  font-family: "Apres RE", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px; }

.custom-date-start,
.custom-date-end {
  display: none; }

.datepicker label {
  text-align: right;
  margin-top: 8px; }

#date select,
.datepicker select,
#search-form input {
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
  border-radius: 0;
  background-color: white; }

#spinner-holder {
  text-align: center; }

#spinner-holder i,
.num-of-results {
  color: #ce4d28; }

#results-block {
  min-height: 400px; }

/* Email sub box */
#sub-box {
  display: none; }

input#search-subscribe-email {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.subscription-email span {
  color: #ce4d28; }

#search-input {
  margin: 10px 0 5px;
  font-size: 1.5em;
  padding: 25px 40px 25px 15px; }

#search-submit {
  margin-top: 32px;
  margin-bottom: 0px;
  font-size: 1.5em;
  height: 51px; }

#search-subscribe-form,
#sort-by {
  display: none; }

.alert-box {
  margin: 40px auto; }

.status-msg {
  text-align: left;
  padding: 0 0 0 10px;
  font-family: "Apres RE", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #888;
  line-height: 1.4em; }
  .status-msg.error {
    color: #ce4d28; }

/* notifications.html */
#notifications-list table.columns {
  padding: 0; }
#notifications-list td, #notifications-list th {
  padding: 1em; }
#notifications-list table p {
  margin-bottom: 0; }
  #notifications-list table p.deleted {
    color: #888;
    text-decoration: line-through; }

a.delete-subscription {
  color: #ce4d28;
  text-decoration: underline; }
  a.delete-subscription:hover, a.delete-subscription:active, a.delete-subscription:focus {
    color: #792d17; }
  a.delete-subscription.deleted {
    color: #888;
    text-decoration: none;
    font-style: italic;
    cursor: default; }

/* Search results list */
#sort-by {
  display: none;
  margin-bottom: 50px; }
  #sort-by .option {
    cursor: pointer;
    color: #1dacd6;
    padding: 5px;
    margin: 1px; }
    #sort-by .option.active {
      margin: 0;
      background-color: #f2f2f2;
      border: 1px solid #d8d8d8; }
    #sort-by .option:hover {
      margin: 0;
      background-color: #f2f2f2;
      border: 1px solid #f2f2f2; }
  #sort-by .meta {
    margin: 0;
    color: #333; }
  #sort-by p:first-child {
    margin-right: 10px; }

.result {
  margin-bottom: 2em; }
  .result img {
    border: 1px solid #888;
    margin-right: 1em; }
  .result h5 {
    margin: 0 0 22px 0;
    line-height: 1.6rem; }

.multi .document p {
  margin: 6px 0;
  text-align: right; }

.help,
.updated-date,
.download-pdf,
.more-info {
  font-size: 12px;
  font-family: "Apres RE", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.help {
  margin: 10px 0;
  line-height: 1; }

.meta {
  display: inline-block;
  margin: 0 20px 10px 0;
  color: #888; }
  .meta .label {
    font-size: 12px; }
    .meta .label.secondary {
      display: inline-block; }
    .meta .label.warning {
      background-color: #eae34a;
      color: #333; }

/* TODO: Style `h5 a` differently than `a h5` so users can differentiate between a MatterTitle that is clickable (i.e. one for a matter that has only one document) and a MatterTitle that is not */
.updated-date {
  margin: 0 20px 0 0;
  color: #888;
  display: inline-block; }

.result-thumb {
  float: left; }

.more-info {
  float: right;
  padding-top: 35px; }

.multi .more-info {
  padding-top: 0px; }

.download-pdf {
  margin-left: 20px; }

/* summary sidebar */
.result-category span {
  color: #888;
  font-style: italic;
  margin-left: 4px;
  font-size: 0.9em; }

/* purpleline additions to make*/
.reveal-modal.open {
  padding-top: 55px; }

select:focus {
  border-color: #888;
  outline: none; }

.side-nav {
  background: #f2f2f2;
  /*border: 1px solid #d8d8d8;*/ }

/* FAQ styles; should be a dl; put this in purpleline as a pattern */
.question dt {
  padding-left: 25px;
  margin-bottom: 0.7rem;
  font-weight: bold; }
  .question dt::before {
    content: "Q: ";
    margin-left: -25px;
    font-family: "Apres RE", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ce4d28;
    font-weight: bold;
    font-style: normal; }
.question dd p:first-child::before {
  content: "A: ";
  font-family: "Apres RE", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ce4d28;
  font-weight: bold;
  font-style: normal; }

/* end purpleline fixes */

/*# sourceMappingURL=cityhallmonitor.css.map */
