/* colors */
.container {
  margin-top: 40px; }

.container > .panel {
  margin-top: -40px; }

footer {
  margin-top: 40px; }

/* Title style overrides */
h1,
h2.intro {
  text-align: center; }

#big-hed {
  margin-bottom: 40px; }

span.secondary {
  display: block; }

span.logo-mark.xxl {
  margin-top: 0; }

/* Navbar */
.logo {
  width: 130px;
  margin: 12px auto; }

/* Big photo styles for index */
body {
  /*    &:before{
          content: ' ';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          opacity: 0.8;
          background-image: url("https://c2.staticflickr.com/8/7334/16179217449_7a0eec61b2_h.jpg");
          background-repeat: no-repeat;
          background-position: 50% 0;
          -ms-background-size: cover;
          -o-background-size: cover;
          -moz-background-size: cover;
          -webkit-background-size: cover;
          background-size: cover;
      }*/ }

.main-photo-credit {
  /*    position: absolute;
      bottom: 0;
      right: 0;
      background-color: rgba(204, 204, 204, 0.8); //$iron
      font-family: $font-family-sans-serif;
      padding: 10px;
      color: $white;
      p { margin-bottom: 0; font-size: 12px; }
      a { color: $white; text-decoration: underline; }*/
  display: none; }

.img-overlay {
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  padding: 40px 0;
  border: 1px solid #ccc;
  width: 90%; }

/* Filter UI */
.custom-date-start,
.custom-date-end {
  display: none; }

.datepicker label {
  text-align: right;
  margin-top: 8px; }

#date select,
.datepicker select,
#search-form input {
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
  border-radius: 0;
  background-color: white; }

#search-form input {
  margin-top: 20px; }

#spinner-holder {
  text-align: center; }

#spinner-holder i,
.num-of-results {
  color: #ce4d28; }

#results-block {
  min-height: 400px; }

/* Email sub box */
.subscription-email span {
  color: #ce4d28; }

#search-subscribe,
#post-subscribe-msg,
#search-submit {
  margin-top: 21px; }

.alert-box {
  margin: 40px auto; }

.status-msg {
  text-align: left;
  padding: 0 0 0 10px;
  font-family: "Apres RE", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #888;
  line-height: 1.4em; }
  .status-msg.error {
    color: #ce4d28; }

/* notifications.html */
#notifications-list table.columns {
  padding: 0; }
#notifications-list td, #notifications-list th {
  padding: 1em; }
#notifications-list table p {
  margin-bottom: 0; }
  #notifications-list table p.deleted {
    color: #888;
    text-decoration: line-through; }

a.delete-subscription {
  color: #ce4d28;
  text-decoration: underline; }
  a.delete-subscription:hover, a.delete-subscription:active, a.delete-subscription:focus {
    color: #792d17; }
  a.delete-subscription.deleted {
    color: #888;
    text-decoration: none;
    font-style: italic;
    cursor: default; }

/* Search results list */
.result {
  margin-bottom: 2em; }
  .result img {
    border: 1px solid #888;
    margin-right: 1em; }
  .result h4 {
    margin: 10px 0 30px 0;
    line-height: 1.4; }

.help,
.updated-date,
.download-pdf,
.more-info {
  font-size: 12px;
  font-family: "Apres RE", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* TODO: Style `h5 a` differently than `a h5` so users can differentiate between a MatterTitle that is clickable (i.e. one for a matter that has only one document) and a MatterTitle that is not */
.updated-date {
  margin: 0 10px 0 0;
  color: #888; }

.result-thumb {
  float: left; }

.more-info {
  float: right; }

.download-pdf {
  margin-left: 20px; }

/* purpleline additions to make*/
select:focus {
  border-color: #888;
  outline: none; }

.side-nav {
  background: #f2f2f2;
  /*border: 1px solid #d8d8d8;*/ }

/* end purpleline fixes */

/*# sourceMappingURL=cityhallmonitor.css.map */
