$font-family-sans-serif: 'Apres RE', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* colors */
$orange: #ce4d28;
$white: #fff;
$iron: #ccc;
$jumbo: #888;

.container {
    margin-top: 40px;
}

.container > .panel {
    margin-top: -40px;
}

footer {
    margin-top: 40px;
}

/* Title style overrides */
h1,
h2.intro {
    text-align: center;
}
#big-hed {
    margin-bottom: 40px;
}
span.secondary { display: block; }
span.logo-mark.xxl { margin-top: 0; }

/* Navbar */
.logo {
    width: 130px;
    margin: 12px auto;
}

/* Big photo styles for index */
body {
/*    &:before{
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.8;
        background-image: url("https://c2.staticflickr.com/8/7334/16179217449_7a0eec61b2_h.jpg");
        background-repeat: no-repeat;
        background-position: 50% 0;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }*/
}

.main-photo-credit {
/*    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(204, 204, 204, 0.8); //$iron
    font-family: $font-family-sans-serif;
    padding: 10px;
    color: $white;
    p { margin-bottom: 0; font-size: 12px; }
    a { color: $white; text-decoration: underline; }*/
    display: none;
}
.img-overlay {
    background-color: rgba(255, 255, 255, 0.8);
    margin: auto;
    padding: 40px 0;
    border: 1px solid $iron;
    width: 90%;
}

/* Filter UI */
.custom-date-start,
.custom-date-end { display: none; }
.datepicker label {
    text-align: right;
    margin-top: 8px;
}
#date select,
.datepicker select,
#search-form input {
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    border-radius: 0;
    background-color: white;
}
#spinner-holder {
    text-align: center;
}
#spinner-holder i,
.num-of-results {
    color: $orange;
}
#results-block {
    min-height: 400px;
}

/* Email sub box */
.subscription-email span { color: $orange; }
#search-input,
#search-submit {
    margin-top: 32px;
    margin-bottom: 0px;
}
#search-subscribe,
#post-subscribe-msg{
    margin-top: 21px;
}
.alert-box {
    margin: 40px auto;
}

.status-msg {
    text-align: left;
    padding: 0 0 0 10px;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    color: $jumbo;
    line-height: 1.4em;
    &.error {
        color: $orange;
    }
}


/* notifications.html */
#notifications-list {
    table.columns {
        padding: 0;
    }
    td, th {
        padding: 1em;
    }
    table p {
        margin-bottom: 0;
        &.deleted {
            color: $jumbo;
            text-decoration: line-through;
        }
    }
}
a.delete-subscription {
    color: $orange;
    text-decoration: underline;
    &:hover,
    &:active,
    &:focus {
        color: darken($orange, 20%);;
    }
    &.deleted {
        color: $jumbo;
        text-decoration: none;
        font-style: italic;
        cursor: default;
    }
}


/* Search results list */
.result {
    margin-bottom: 2em;
    img {
        border: 1px solid $jumbo;
        margin-right: 1em;
    }
    h4 {
        margin: 10px 0 30px 0;
        line-height: 1.4;
    }
}
.help,
.updated-date,
.download-pdf,
.more-info {
    font-size: 12px;
    font-family: $font-family-sans-serif;
}
.help {
    margin: 10px 0;
    line-height: 1;
}
/* TODO: Style `h5 a` differently than `a h5` so users can differentiate between a MatterTitle that is clickable (i.e. one for a matter that has only one document) and a MatterTitle that is not */
.updated-date {
    margin: 0 10px 0 0;
    color: $jumbo;
}
.result-thumb { float: left; }
.more-info { float: right; }
.download-pdf { margin-left: 20px; }

/* purpleline additions to make*/
select:focus {
    border-color: $jumbo;
    outline: none;
}

.side-nav {
    background: #f2f2f2;
    /*border: 1px solid #d8d8d8;*/
}
/* end purpleline fixes */
