      <div class="row">
        <div class="small-6 medium-3 columns">

        </div>
        <div class="small-6 medium-3 columns">
          <form id="matter-type">
            <select>
              <option value="any">Any matter type</option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
          </form>
        </div>
        <div class="small-6 medium-3 columns">
          <form id="status">
            <select>
              <option value="any">Any status</option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
          </form>
        </div>
        <div class="small-6 medium-3 columns">
          <form id="body">
            <select>
              <option value="any">Any government body</option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
          </form>
        </div>
      </div>
    </div>
  </div>
