            <div id="facets" class="small-12 medium-3 columns hide">
                <ul class="side-nav">
                    <li>FILTER RESULTS</li>
                    <li class="divider"></li>
                    <li role="navigation"><a>placeholder filter</a></li>
                    <li role="navigation"><a>placeholder filter</a></li>
                    <li role="navigation"><a>placeholder filter</a></li>
                    <li role="navigation"><a>placeholder filter</a></li>
                </ul>
            </div>
