<div id="intro" class="row">
  <div class="small-12 medium-10 medium-offset-1 columns">
      <p>Samuel L. Ipsum. Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.</p>
      <div class="result row">
          <hr>

          <div class="small-4 columns explainer">
            <h5>The heart of the matter</h5>
            <label>Last updated date and matter status <a href="">(what's this?)</a></label>
            <label>The matter title. Sometimes a matter will have more than one document. These will appear under the title.</label>
          </div>
          <div class="small-8 columns" style="margin-top: 45px;">
            <p class="updated-date">2015-04-15</p>
            <p class="help meta"><span class="label success">Passed</span></p>
              <a data-document="2255500-or2015-204-pdf" class="read-more">
                <h5>Settlement agreement regarding case of estate of LaQuan McDonald, deceased, by its Independent Administrator, Tina Hunter, cited as 14 P 7092 </h5>
              </a>
          </div>
          <hr>
      </div>
    </div>
    <div class="row">
      <p class="small-12 medium-10 medium-offset-1 columns">Not sure where to start? Try some sample searches:</p>
      <div class="small-12 medium-5 medium-offset-1 columns">
        <div class="panel sample-results">
          <h5>Recent results for "settlement agreement"</h5>
          <p>Vacation of public way(s) on portions of S Wallace St, W Garfield Blvd, S Normal Ave and W 56th St</p>
          <p>Settlement agreement regarding case of Pilsen Soil Operable Unit 1 Railroad Spur and Alley Site, Chicago, Illinois</p>
          <p>Settlement agreement regarding case of Joseph Bruce and Debbie Bruce v. City of Chicago, cited as 13 L 8210</p>
          <a class="more" href="">See more results »</a>
        </div>
      </div>
      <div class="small-12 medium-5 end columns">
        <div class="panel sample-results">
          <h5>Recent results for "sale of city-owned property"</h5>
          <p>Sale of City-owned property at 4001-4059 S Halsted St to 41 Venture LLC</p>
          <p>Negotiated sale of City-owned property at 1136-1140 S Wabash Ave to 1136 South Wabash LLC</p>
          <p>Sale of City-owned property at 650 W 83rd St to Green Era Educational NFP</p>
          <a class="more" href="">See more results »</a>
        </div>
      </div>
    </div>
</div>
