<div id="intro" class="row">
  <div class="small-12 medium-8 medium-offset-2 columns">
      <p>City Hall Monitor is a searchable index of Chicago City Council records. <a href="https://knightlab.northwestern.edu">Knight Lab</a> is exploring the question "How can an investigator find the most important documents to read?" Ultimately, we want to see what we can do with machine learning and other computational analysis, but to do that, we needed to collect all the documents, so we decided to create this search tool as well.</p>
      <p>We welcome your input about how you search through these documents and what might make that easier. Send a note to our <a href="mailto:support@knightlab.zendesk.com?subject=City+Hall+Monitor+Suggestions">support email</a> if you have ideas.</p>
    </div>
</div>
