{% extends "base.html" %}
{% block nav %}
  {% include "_nav.html" %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="small-12 medium-10 medium-offset-1 columns">
    {% if error %}
    <h2>Uh-oh.</h2>
    <p>We encountered an issue activating your subscription. Details below.</p>
    <div data-alert class="alert-box alert">
    Error: {{ error }}</em>
    </div>

    {% else %}

    <h2>Success!</h2>

    <p>Your subscription has been activated! You can <a href="{{ notifications_url }}">manage your subscriptions</a> any time you want to stop getting updates.</p>

    {% endif %}
    </div>
</div>
{% endblock content %}
