{% load staticfiles %}
<html>
<head>
  <title>City Hall Monitor</title>
  <link href="//cloud.webtype.com/css/d4767ecb-457a-4677-8761-72f890add836.css" rel="stylesheet" type="text/css">
  <link href="{% static 'css/cityhallmonitor.css' %}" rel="stylesheet" type="text/css">
  <link href="//cdn.knightlab.com/libs/purpleline/latest/css/purpleline.min.css" rel="stylesheet" type="text/css">
  <link href="//cdn.knightlab.com/libs/purpleline/latest/css/navigation.css" rel="stylesheet" type="text/css">
  <link href="//cdn.knightlab.com/libs/purpleline/latest/css/font-awesome/font-awesome.css" rel="stylesheet" type="text/css">
  {% block extra_head %}
  {% endblock %}
</head>
<body>
  {% block nav %}
  {% include "_nav.html" %}
  {% endblock %}
  <div class="container">
    {% block content %}
      Hey, you need some content in this here template
    {% endblock content %}
  {% block scripts %}
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="//cdn.knightlab.com/libs/purpleline/latest/js/purpleline.js"></script>
  <script type="text/javascript" src="//cdn.knightlab.com/libs/purpleline/latest/js/foundation.reveal.js"></script>
  <script type="text/javascript">
    /*$(document).foundation('reveal', 'reflow');*/
  </script>
  {% endblock %}
  {% block extra_scripts %}
  {% endblock %}
  {% include "_footer.html" %}
</body>
