{% load staticfiles %}
<html>
<head>
  <title>City Hall Monitor</title>
  <link rel="icon" type="image/png" href="//cdn.knightlab.com/libs/purpleline/latest/img/favicon.ico">
  <link href="//cloud.webtype.com/css/d4767ecb-457a-4677-8761-72f890add836.css" rel="stylesheet" type="text/css">
  <link href="//cdn.knightlab.com/libs/purpleline/latest/css/purpleline.min.css" rel="stylesheet" type="text/css">
  <link href="//cdn.knightlab.com/libs/purpleline/latest/css/navigation.css" rel="stylesheet" type="text/css">
  <link href="//cdn.knightlab.com/libs/purpleline/latest/css/font-awesome/font-awesome.css" rel="stylesheet" type="text/css">
  <link href="{% static 'css/cityhallmonitor.css' %}" rel="stylesheet" type="text/css">
  {% block extra_head %}
  {% endblock %}
</head>
<body>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TNH3WQ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TNH3WQ');</script>
  <!-- End Google Tag Manager -->
  {% block nav %}
  {% endblock %}
  <div class="container">
    {% block content %}
      Hey, you need some content in this here template
    {% endblock content %}
  {% block scripts %}
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="//cdn.knightlab.com/libs/purpleline/latest/js/purpleline.js"></script>
  <script type="text/javascript" src="//cdn.knightlab.com/libs/purpleline/latest/js/foundation.reveal.js"></script>
  <script type="text/javascript" src="//cdn.knightlab.com/libs/purpleline/latest/js/foundation.dropdown.js"></script>
  {% endblock %}
  {% block extra_scripts %}
  {% endblock %}
  {% include "_footer.html" %}
</body>
