{% extends "base.html" %}


{% block content %}

{% if error %}

    {{ error }}

{% else %}

<h4>{{ matter_attachment.matter }}</h4>    
<div id="document_cloud_viewer"></div>
<script src="//s3.amazonaws.com/s3.documentcloud.org/viewer/loader.js"></script>
<script>
  DV.load('http://www.documentcloud.org/documents/{{ matter_attachment.doccloud_id }}.js', {
    container : '#document_cloud_viewer',
    responsive: true /* this sort of works? */
    /*
    width: 800,
    height: 450*/
  });
</script>
    
{% endif %}

{% include "cdn_includes.html" %}
{% include "search_script.html" %}

{% endblock content %}
