{% extends "base.html" %}

{% block extra_head %}
<script src="//s3.amazonaws.com/s3.documentcloud.org/viewer/loader.js"></script>
{% endblock %}

{% block content %}

{% if error %}

<div data-alert class="alert-box alert">
{{ error }}
</div>
    
{% else %}

<h4>{{ matter_attachment.matter }}</h4>    
<div id="document_cloud_viewer"></div>
<script>
    DV.load('http://www.documentcloud.org/documents/{{ doc.id }}.js', {
        container : '#document_cloud_viewer',
        responsive: true
    });
</script>
    
{% endif %}

{% include "cdn_includes.html" %}
{% include "search_script.html" %}

{% endblock content %}
