{% include "_email_header.html" %}
<table border="0">
  <tr>
    <td><p>Your search for <span style="color: #ce4d28; font-weight: bold;">{{ query }}</span> on <a href="https://cityhallmonitor.knightlab.com">City Hall Monitor</a> matched {{ documents|length }} new documents:</p></td>
  </tr>
  {% for doc in documents %}
  <tr>
    <td>
      <p><a href="{{ doc.published_url }}">{{ doc.matter_title }}
        ({{ doc.name }}) </a>
      </p>
      <hr>
    </td>
  </tr>
  {% endfor %}
  <tr style="background-color: #999; text-align: right;">
    <td><a href="{{ notifications_url }}">Unsubscribe or change your notifications</a></td>
  </tr>
</table>

{% include "_email_footer.html" %}
