{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="small-8 small-offset-2 columns">
        <h2>Frequently Asked Questions</h2>
        <dl class="question">
            <dt id="#what-does-ignore-the-boring-stuff-mean">What does "Ignore the boring stuff" mean?</dt>
            <dd><p>A lot of the city hall documents are routine documents such as permits or extensions of recognition, congratulations, or gratitude. By default, City Hall Monitor will filter these documents from your search. If what you are looking for might be in some of those filtered documents, deselect "Ignore the boring stuff" when you search.</p>
            <p>Filters that are used include the following exact string matches:</p>
            <ul>
                <li>"Congratulations extended"</li>
                <li>"Gratitude extended"</li>
                <li>"Recognition extended"</li>
                <li>"Issuance of permits for sign(s)"</li>
                <li>"Sidewalk cafe(s) for"</li>
                <li>"Canopy(s) for"</li>
                <li>"Awning(s) for"</li>
                <li>"Residential permit parking"</li>
                <li>"Handicapped Parking Permit"</li>
                <li>"Handicapped permit"</li>
                <li>"Grant(s) of privilege in public way"</li>
                <li>"Loading/Standing/Tow Zone(s)"</li>
                <li>"Senior citizens sewer refund(s)"</li>
                <li>"Oath of office"</li>
            </ul>
            </dd>
        <dl>
        <p><em>Important note about search update subscriptions:</em> When subscribing to search updates, the above filters are not applied when checking for new documents to match your search. Thus, you will be notified of any new documents matching your search, including the "boring" stuff.</p>
    </div>
</div>

{% endblock content %}
