{% extends "base.html" %}
{% block nav %}
  {% include "_nav.html" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="small-8 small-offset-2 columns">
        <h2>Glossary</h2>
        <p><em>City Hall Monitor</em> gives you access to a plethora of documents. We grouped the different types of documents to help you find what you are looking for. Our glossary defines what the groups are and shows you some example documents that belong to each.</p>
        <div>
          <a name="claims"><h4>Claims</h4></a>
          <p>People and organizations getting refunds from the government. A lot of "condominium claims", sewer and refuse refunds. Also, some payments from the city to firefighters and policemen.</p>
          <h5>Examples of document titles:</h5>
          <ul>
            <li>Condominium claim for 15th Place Condo Assn.</li>
            <li>Senior citizen sewer refund(s)</li>
            <li>Payment of hospital and medical expenses of Police and Firefighters - Regular Orders - all amounts</li>
          </ul>
        </div>
        <div class="glossary-term">
          <a name="developments"><h4>Developments</h4></a>
          <p>These documents pertain to changes to city-owned properties and zoning. Examples are the sale of city-owned properties and zoning map updates.</p>
        </div>
        <div class="glossary-term">
          <a name="exemptions"><h4>Exemptions</h4></a>
          <p>Fee waivers, cancellation of fees, free permits for various groups (mostly non-profits and religious organizations). Also includes amendments to the municipal code on laws related to exemptions.</p>
        </div>
        <div class="glossary-term">
          <a name="interesting_documents"><h4>Interesting Documents</h4></a>
          <p>Documents that stood out to us for their subject matter. Includes documents such as letters of support for reparations to victims of torture by chicago police department, special city council meetings, calls for hearings and support for various non-standard things. Also includes settlement agreements, expenditure of open space impact fee funds for development projects, expenditure of various taxes.</p>
        </div>
        <div class="glossary-term">
          <a name="licenses"><h4>Licenses</h4></a>
          <p>These documents relate to licenses </p>
        </div>
        <div class="glossary-term">
          <a name="parking"><h4>Parking</h4></a>
          <p>Various types of parking permits (handicapped, residential, industrial). Also includes amendments to the municipal code on laws related to parking.</p>
        </div>
        <div class="glossary-term">
          <a name="permits"><h4>Permits</h4></a>
          <p>Tag day permits, special licenses and permits</p>
        </div>
        <div class="glossary-term">
          <a name="proceedings"><h4>Proceedings</h4></a>
          <p>Documents related to the proceedings of City Hall. Amendments to the City Council Journal, time fixed for next City Council meeting, oath of office for officials, etc.</p>
        </div>
        <div class="glossary-term">
          <a name="public_use"><h4>Public Use</h4></a>
          <p>These are mostly the City of Chicago granting various organizations the right to use public land/property. For example, allowing Corner Bakery to set up sidewalk cafes or have awnings or canopies. Includes "grants of privilege in public way" and "issuance of permits for warrants" to use public areas.</p>
        </div>
        <div class="glossary-term">
          <a name="recognition"><h4>Recognition</h4></a>
          <p>Congratulations, gratitude, recognition and more extended to individuals and groups. If you check "hide the boring stuff," most, if not all, of these documents will be hidden from your search.</p>
        </div>
        <div class="glossary-term">
          <a name="services_&_budgets"><h4>Services & Budgets</h4></a>
          <p></p>
        </div>
        <div class="glossary-term">
          <a name="tax"><h4>Tax</h4></a>
          <p>Documents establishing tow zones, buffer zones (for parking), traffic signs and signals, vehicle weight limits, traffic direction of a street, parking prohibited, etc.</p>
        </div>
        <div class="glossary-term">
          <a name="traffic"><h4>Traffic</h4></a>
          <p>Documents establishing tow zones, buffer zones (for parking), traffic signs and signals, vehicle weight limits, traffic direction of a street, parking prohibited, etc.</p>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_scripts %}
<script type="text/javascript">

$(document).ready(function() {
  // make permalinks function for each question
  $("dl.question > dt[id]").each(function(){
    $(this).css('cursor','pointer');
    $(this).click(function(){
      window.location.hash = "#" + this.id;
    })
  });

  $(".more").click(function() {
    $(this).parent().next('.extended-answer').toggle();
    if ($(this).parent().next('.extended-answer').is(':visible')) {
        $(this).text('« Hide extra');
    } else {
      $(this).text('Read more »');
    }
  })
});
</script>
{% endblock %}
