{% extends "base.html" %}
{% block nav %}
  {% include "_nav.html" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="small-8 small-offset-2 columns">
        <h2>Glossary</h2>
        <p class="lead"><em>City Hall Monitor</em> gives you access to a plethora of documents. We've grouped the different documents to help you find what you need.</p>
        <div>
          <a name="claims"><h4>Claims</h4></a>
          <p>People and organizations getting refunds from the government. A lot of condominium claims, sewer and refuse refunds. Also, some payments from the city to firefighters and policemen.</p>
          <h6>Example document titles:</h6>
          <ul>
            <li>Condominium claim for 15th Place Condo Assn.</li>
            <li>Senior citizen sewer refund(s)</li>
            <li>Payment of hospital and medical expenses of Police and Firefighters - Regular Orders - all amounts</li>
          </ul>
        </div>
        <div class="glossary-term">
          <a name="developments"><h4>Developments</h4></a>
          <p>These documents pertain to changes to city-owned properties and zoning. Examples are the sale of city-owned properties and zoning map updates.</p>
          <h6>Example document titles:</h6>
          <ul>
            <li>Zoning Reclassification Map No. 9-L at 3300-3324 N Cicero Ave</li>
            <li>Sale of City-owned property at 650 W 83rd St to Green Era Educational NFP</li>
            <li>Redevelopment agreement and associated tax credits, loan and conveyance for Nelson Mandela Apartments LP</li>
          </ul>
        </div>
        <div class="glossary-term">
          <a name="exemptions"><h4>Exemptions</h4></a>
          <p>Fee waivers, cancellation of fees, free permits for various groups (mostly non-profits and religious organizations). Also includes amendments to the municipal code on laws related to exemptions.</p>
          <h6>Example document titles:</h6>
          <ul>
            <li>Waiver of fees for Teen Living Program, Inc.</li>
            <li>Historical landmark fee waiver for property at 11323 S St. Lawrence Ave</li>
            <li>Exemption from physical barrier requirement for commercial driveway alley access for 1045 W Cornelia LLC</li>
          </ul>
        </div>
        <div class="glossary-term">
          <a name="interesting_documents"><h4>Interesting Documents</h4></a>
          <p><!-- Documents that stood out to us for their subject matter. Includes documents such as letters of support for reparations to victims of torture by chicago police department, special city council meetings, calls for hearings and support for various non-standard things. Also includes settlement agreements, expenditure of open space impact fee funds for development projects, expenditure of various taxes. Interesting documents belong to another document group. -->Documents that stood out to us for their subject matter. Interesting Documents is a secondary/complementary category.</p>
          <h6>Example document titles:</h6>
          <ul>
            <li>Call for reparations for victims and family members affected by law enforcement torture or abuse</li>
            <li>Acceptance of property from Chicago Housing Authority and associated expenditure of Open Space Impact Fee funds and transfer to Chicago Park District</li>
            <li>Authorization for funding and identification of projects pursuant to 2006 settlement with Peoples Gas</li>
          </ul>
        </div>
        <div class="glossary-term">
          <a name="licenses"><h4>Licenses</h4></a>
          <p>Amendments to the municipal code about liquor licenses and package goods licenses.</p>
          <h6>Example document titles:</h6>
          <ul>
            <li>Amendment of Municipal Code Titles 4, 13, and 17 regarding special event liquor licenses</li>
            <li>Amendment of Municipal Code Section 4-60-023 (49.46) to allow additional package goods licenses on portion(s) of N Glenwood Ave</li>
          </ul>
        </div>
        <div class="glossary-term">
          <a name="parking"><h4>Parking</h4></a>
          <p>Various types of parking permits (handicapped, residential, industrial). Includes amendments to the municipal code on laws related to parking.</p>
          <h6>Example document titles:</h6>
          <ul>
            <li>Industrial permit parking zone(s) - establish/amend</li>
            <li>Handicapped Parking at 1036 W 18th St - remove</li>
            <li>Amendment of Municipal Code Section 9-68-020 concerning terms of residential parking permit issuance</li>
          </ul>
        </div>
        <div class="glossary-term">
          <a name="permits"><h4>Permits</h4></a>
          <p>Includes tag day permits — essentially fundraising permits for charitable organizations — as well as special events licenses and permits.</p>
          <h6>Example document titles:</h6>
          <ul>
            <li>Tag day permit(s) for Doctors Without Borders/Medecins Sans Frontieres and Planned Parenthood Federation of America, Inc.</li>
            <li>Issuance of special event license(s) and/or permit(s) for Newberry Library Bughouse Square Debates</li>
          </ul>
        </div>
        <div class="glossary-term">
          <a name="proceedings"><h4>Proceedings</h4></a>
          <p>Documents related to City Hall proceedings. Includes amendments to the City Council Journal, oaths of office for officials, etc.</p>
          <h6>Example document titles:</h6>
          <ul>
            <li>Amendment of Chicago Infrastructure Trust ordinance regarding composition and appointment of Board of Directors</li>
            <li>Correction of City Council Journal of Proceedings of May 6, 2015</li>
          </ul>
        </div>
        <div class="glossary-term">
          <a name="public_use"><h4>Public Use</h4></a>
          <p>Documents granting organizations the right to use public land or property. I.e., allowing Corner Bakery Cafe to set up sidewalk cafes or have awnings. <!--Includes "grants of privilege in public way" and "issuance of permits for warrants" to use public areas.--></p>
          <h6>Example document titles:</h6>
          <ul>
            <li>Amendment of grant(s) of privilege public way to Caninos De Michoacan</li>
            <li>Vacation of public alley(s) in area bounded by W Division St, N Clark St, N LaSalle St and W Goethe St</li>
            <li>Issuance of permits for sign(s)/signboard(s) at 6001 S Cottage Grove Ave</li>
          </ul>
        </div>
        <div class="glossary-term">
          <a name="recognition"><h4>Recognition</h4></a>
          <p>Congratulations, gratitude, recognition and more extended to individuals and groups. If you check "hide the boring stuff," most, if not all, of these documents will be hidden from your search.</p>
          <h6>Example document titles:</h6>
          <ul>
            <li>Congratulations extended to Honorable Mary Jane Theis on appointment to Illinois Supreme Court</li>
            <li>Recognition extended to Mary Monica Joria for decades of public service and congratulations on 100th birthday</li>
            <li>Declaration of May 8, 2013 as "Brotherhood of Locomotive Engineers and Training Day" in Chicago and congratulations on 150th anniversary</li>
          </ul>
        </div>
        <div class="glossary-term">
          <a name="services_&_budgets"><h4>Services & Budgets</h4></a>
          <p>Defines a designated area to receive service, as well as establishes a budget for the service area. Includes agreements with outside organizations to manage the area.</p>
          <h6>Example document titles:</h6>
          <ul>
            <li>Scope of services, budget and management agreement for Special Service Area No. 51</li>
          </ul>
        </div>
        <div class="glossary-term">
          <a name="tax"><h4>Tax</h4></a>
          <p>Includes documents related to property taxes, tax increment financing (TIF) and tax incentives.</p>
          <h6>Example document titles:</h6>
          <ul>
            <li>Property tax levy for Year 2018</li>
            <li>Support of Class L tax incentive for property at 307 N Michigan Ave <!--should we take out these addresses for privacy?--></li>
            <li>Foster and California Tax Increment Financing (TIF) Redevelopment Area Project and Plan</li>
          </ul>
        </div>
        <div class="glossary-term">
          <a name="traffic"><h4>Traffic</h4></a>
          <p>Documents establishing tow zones, buffer zones (for parking), traffic signs and signals, vehicle weight limits, traffic direction of a street, parking prohibited, etc.</p>
          <h6>Example document titles:</h6>
          <ul>
            <li>Loading/Standing/Tow Zone(s) at N California Ave - west side</li>
            <li>Buffer zone(s) for residential permit parking at 124 W Polk St</li>
            <li>Vehicle weight limitation - 5 tons - establish and amend</li>
          </ul>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_scripts %}
<script type="text/javascript">

$(document).ready(function() {
  // make permalinks function for each question
  $("dl.question > dt[id]").each(function(){
    $(this).css('cursor','pointer');
    $(this).click(function(){
      window.location.hash = "#" + this.id;
    })
  });

  $(".more").click(function() {
    $(this).parent().next('.extended-answer').toggle();
    if ($(this).parent().next('.extended-answer').is(':visible')) {
        $(this).text('« Hide extra');
    } else {
      $(this).text('Read more »');
    }
  })
});
</script>
{% endblock %}
