{% extends "base.html" %}

{% block content %}

{% if error %}

<div data-alert class="alert-box alert">
    Error managing notifications [{{ error }}]</em>
</div>

{% else %}

<div id="alert_no_subscriptions" data-alert class="alert-box info" style="display: none;">
    No subscriptions found.
</div>

<div id="notifications_list" class="row">
    <div class="medium-12 columns">
        <div class="row">
            <p>Managing notifications for {{ email }}</p>
        </div>   
        <div class="row">
            <div class="medium-6 columns">
                Your watched searches
            </div>
            <div class="medium-6 columns">
                Email when results change?
            </div>
        </div>
        {% for r in subscriptions %}
        <div class="row">
            <div class="medium-6 columns">
                &ldquo;{{ r.query }}&rdquo;
            </div>
            <div class="medium-6 columns">
                {% ifequal r.sid sid %}
                <input id="cb_{{ r.sid }}" type="checkbox" value="1" data-sid="{{ r.sid }}">
                {% else %}
                <input id="cb_{{ r.sid }}" type="checkbox" value="1" data-sid="{{ r.sid }}" checked>
                {% endifequal %}
                <label for="cb_{{ r.sid }}">Notify me</label>
            </div>
        </div>
        {% endfor %}           
        <div class="row">
            <div class="medium-6 medium-offset-6 columns">
                <a id="button_save" href="javascript:" class="button info" role="button"><span>Save</span></a>
            </div>
        </div>        
    </div>
</div>

{% endif %}

{% endblock content %}

{% block extra_scripts %}

<script type="text/javascript">

$(function() {
    $('#button_save').click(function(e) {
        var sids = [];
        var $checkboxes = $("input[type=checkbox]:not(:checked)");
        
        $checkboxes.each(function(index, el) {
            sids.push($(el).attr('data-sid'));
        });
                
        if(sids.length) {
            $.ajax({
                url: '{% url "unsubscribe" %}',
                type: 'GET',
                data: {
                    sids: sids
                },
                cache: false,
                dataType: 'json',
                timeout: 20000,
                error: function(xhr, status, err) {
                    alert('Error saving changes to notifications ['+err+']');
                },
                success: function(data) {
                    if(data.error) {
                        alert('Error saving changes to notifications ['+data.error+']');
                    } else {                    
                        $checkboxes.closest('div.row').remove();                            

                        if(!$("input[type=checkbox]").length) {
                            $('#alert_no_subscriptions').show();
                            $('#notifications_list').hide();
                        }
                    }
                }
            });       
        }  
    });
});

</script>
{% endblock %}