
<form action="#" id="search-form">

    <div class="small-12 medium-7 medium-offset-1 columns">
        <input type="text" placeholder="Search for a keyword, ordinance, or alderman" id="search-input" tabindex=1 />
        <p class="help">Examples: "<a href="" class="example-search">sale of city-owned property</a>" or "<a href="" class="example-search">Patrick O'Connor</a>."</p>
    </div>

    <div class="small-12 medium-3 end columns" id="date">

        <div class="row">
            <label>Only show items with action taken in...</label>
            <select>
                <option value="past-year">Past year</option>
                <option value="past-month">Past month</option>
                <option value="any">Any time</option>
                <option value="date-range">Date range...</option>
            </select>
        </div>
    
        <div class="row datepicker custom-date-start">
            <label class="small-3 columns">from</label>
            <div class="small-5 columns">
                {% include "month_selector.html" %}
            </div>
            <div class="small-4 columns">
                <select>
                    <option value="2013">2013</option>
                </select>
            </div>
        </div>
    
        <div class="row datepicker custom-date-end">
            <label class="small-3 columns">to</label>
            <div class="small-5 columns">
                {% include "month_selector.html" %}
            </div> <!-- .columns -->
            <div class="small-4 columns">
                <select>
                <option value="2014">2014</option>
                </select>
            </div>
        </div><!--datepicker-->
    
    </div><!-- #date -->

    <div class="row">
        <div class="small-2 medium-4 medium-offset-4 columns">
        <button type="submit" value="Search" id="search-submit" class="button postfix alert small" tabindex=2>Search</button>
    </div>

</form> <!-- #search-form -->
