{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class='reveal-modal' id='document-modal' data-reveal>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    <div id="document-modal-view"></div>
</div>

<div class="panel">
    <div class="row" id="big-hed">
        <h1><span class="secondary">City Hall</span> <span class="logo-mark xxl">Monitor</span></h1>
        <h2 class="intro">We've got some city hall documents.</h2>
    </div>
    {% include "search_form.html" %}
</div> <!-- .panel -->
        <div id="spinner-holder" class="row hide">
            <i class="fa fa-spinner fa-pulse fa-4x"></i>
        </div>
        <div id="results-summary" class="row"></div>

        <div id="results-block" class="row">
            {# include "_filters.html" #}
            <div id="search-results" class="small-12 medium-10 medium-offset-1 columns"/></div>
        </div> <!-- #results-block -->
      </div>

{% endblock content %}
{% block extra_scripts %}

    <script type="text/template" id="summary-template">
        <div class="small-12 medium-10 medium-offset-1 columns">
            <h5>We found <span class="num-of-results"><%= total %> results</span> matching <em><%= q %>.</em></h5>
            <form action="#" id="search-subscribe-form">
                <div class="row collapse">
                    <div class="small-6 columns">
                        <label for="search-subscribe-email">Email me when these results change</label>
                        <input type="text" id="search-subscribe-email" placeholder="enter email address" />
                        <input type="hidden" id="search-term" value="<%= q %>" />
                    </div>
                    <div class="small-2 columns">
                        <input type="submit" value="Subscribe" id="search-subscribe" class="button postfix small"/>
                    </div>
                    <div class="small-4 columns">
                      <p id="post-subscribe-msg"></p>
                    </div>
                </div>
            </form>
        </div>
    </script>

    <script type="text/template" id="result-template">
        <div class="result row" id="<%= data.MatterId %>">
            <div class="small-8 columns">
                <a href="documents/<%= data.MatterAttachmentId %>">
                <p class="updated-date"><%= updated_at %></p>
                <h5><%= data.MatterTitle %></h5>
                </a>
            </div>
            <div class="more-info small-4 columns">
                <a href="/documents/<%= data.MatterAttachmentId %>" data-document="<%= id %>" class="read-more button info tiny">Read</a>
                <a class="download-pdf" href="<%= source %>">Download PDF</a>
            </div>
            <hr />
        </div>
    </script>

    <script src="//s3.amazonaws.com/s3.documentcloud.org/viewer/loader.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="{% static 'js/cityhallmonitor.js' %}"></script>
    <script type="text/javascript">
      /* This is here to allow use of Django template tags in AJAX call*/
      $(function() {
          var summaryTemplate = _.template($("#summary-template").html());
          var resultTemplate = _.template($("#result-template").html());
          var addResult = function(obj) {
              $.each(obj.docs, function(i, doc) {
                  $(resultTemplate(doc)).appendTo('#search-results');
              });
          };
          var doSearch = function() {
              //showLoadingState();
              console.log('dosearch');
              var fromYear = $('#from-year').val();
              console.log(fromYear);
              var dateRangeType = $('#date-range-type').val()
              console.log(dateRangeType);
              if (dateRangeType === 'past-year') {
                console.log('search past year');
                fromYear = 2014;
                fromMonth = 'October';
              } else if (dateRangeType === 'past-month') {
                console.log('search past month');
              } else if (dateRangeType === 'any') {
                console.log('search all dates');
              } else if (dateRangeType ==='date-range') {
                console.log('search date range');
              }
              var q = $('#search-input').val();
              q = q + ' account:12872-knight-lab project:"Chicago City Hall Monitor"';
              q = q + ' MatterSortDate: 2015-09-*';
              console.log(q);
              $.ajax({
                  url: 'https://www.documentcloud.org/api/search.json?q=' + q + '&per_page=1000&data=true'
              })
              .success(function(data) {
                  var groups = {};

                  $.each(data.documents, function(i, doc) {
                      if(doc.data.MatterId in groups) {
                          groups[doc.data.MatterId]['docs'].push(doc);
                      } else {
                          groups[doc.data.MatterId] = {
                              'data': doc.data,
                              'docs': [doc]
                          };
                      }
                  });

                  $('#results-summary').html($(summaryTemplate({total:data.total, q: $('#search-input').val()})));

                  $('#search-subscribe-form').submit(function(event) {
                      handle_subscribe(event, '{% url "subscribe" %}');
                      return false;
                  });

                   if(data.documents.length) {
                      $.each(groups, function(i, g) {
                          addResult(g);
                      });
                  }
                $("#search-results").foundation('reveal', 'reflow');
                hideLoadingState();
              });
          };

          $('#search-form').submit(function() {
              doSearch();
              return false;
          });

          $('.example-search').click(function() {
              $('#search-input').val($(this).text());
              $('#search-submit').click();
              return false;
          });

          buildDateUI();
      });
    </script>

{% endblock extra_scripts %}

