    <div class="row">
        <div class="small-12 columns" id="search-block" >
            <div class="row">
                <form action="#" id="search-form">

                    <div class="small-12 medium-7 medium-offset-1 columns">
                        <p class="help">Examples: <a href="javascript" class="example-search">"sale of city-owned property"</a> or <a href="javascript:" class="example-search">"zoning reclassification"</a> or <a href="javscript:" class="example-search">"rogers park" permit</a></p>
                        <input type="text" placeholder="Search for a keyword, ordinance, or alderman" id="search-input" tabindex=1 />
                        <div id="date-range-search">
                          <label>Show items from </label>
                          <input type="radio" name="date-range" value="past-month" checked><label for="past-month">the last 30 days</label>
                          <input type="radio" name="date-range" value="past-year"><label for="past-year">the past year</label>
                          <input type="radio" name="date-range" value="any"><label for="any">any time</label>
                        </div>
                    </div>
                    <div class="small-6 medium-3 columns end">
                      <button type="submit" value="Search" id="search-submit" class="button postfix success" tabindex=2>Search</button>
                        <input id="ignore-routine" type="checkbox" checked />
                        <label for="ignore-routine" class="help">Ignore the <a href="{% url 'faq' %}#what-does-ignore-the-boring-stuff-mean" title="See FAQ for more info">boring stuff</a></label>

                    </div>
                </form> <!-- #search-form -->
            </div>
        </div> <!-- .small-12 columns -->
    </div> <!-- .row -->
