<script type="text/template" id="search-result">
  <div class="result row" id="<%= id %>">
    <div class="small-12 medium-10 medium-offset-1 columns">
      <p class="updated-date"><%= updated_at %></p>
      <h3><%= title %></h3>
      <a class="result-thumb" href="<%= canonical_url %>"><img src="<%= resources.thumbnail %>" /></a>
      <div class="description">test description go test description go test description go test description go test description go test description go</div>
      <div class="description"><%= description %></div>
      <div class="more-info">
        <a class="read-more button info tiny" href="<%= canonical_url %>">Read</a>
        <a class="download-pdf" href="<%= source %>">Download PDF</a>
      </div>
    </div>
    <hr />
  </div>
</script>

<script>
    $(function() {
        var matterTemplate = _.template(
            '<h4><%= MatterTitle %></h4>'
        );

    var resultTemplate = _.template($("#search-result").html());

        var addResult = function(obj) {
            $(matterTemplate(obj.data)).appendTo('#search-results');

            $.each(obj.docs, function(i, doc) {
                $(resultTemplate(doc)).appendTo('#search-results');
            });
        };

        $('input[type=submit]').click(function() {
            var q = $('input[type=text]').val();
            q = q + ' account:12872-knight-lab';
            $.ajax({
                url: 'https://www.documentcloud.org/api/search.json?q=' + q + '&per_page=1000&data=true'
            }).success(function(data) {
                var groups = {};

                $.each(data.documents, function(i, doc) {
                    if(doc.data.MatterId in groups) {
                        groups[doc.data.MatterId][docs].push(doc);
                    } else {
                        groups[doc.data.MatterId] = {
                            'data': doc.data,
                            'docs': [doc]
                        };
                    }
                });

                $.each(groups, function(i, g) {
                    addResult(g);
                });
            });
        });

        $('.example-search').click(function() {
              console.log($(this).text());
              $('#search-input').val($(this).text());
              $('#search-submit').click();
              return false;
        });
    });
</script>
