<script type="text/template" id="result-template">
  <div class="result row" id="<%= data.MatterId %>">
    <div class="small-12 medium-10 medium-offset-1 columns">
      <p class="updated-date"><%= updated_at %></p>
      <h4><%= data.MatterTitle %></h4>
      <a class="result-thumb" href="<%= canonical_url %>"><img src="<%= resources.thumbnail %>" /></a>
      <div class="description"><% if (description) { %><%= description %><% } else { %> <span class="no-summary">No summary available for this item.</span><% } %></div>
      <div class="more-info">
        <a class="read-more button info tiny" href="documents/<%= data.MatterAttachmentId %>">Read</a>
        <a class="download-pdf" href="<%= source %>">Download PDF</a>
      </div>
    </div>
    <hr />
  </div>
</script>

<script>
    $(function() {
        var resultTemplate = _.template($("#result-template").html());

        var addResult = function(obj) {
            $.each(obj.docs, function(i, doc) {
                $(resultTemplate(doc)).appendTo('#search-results');
            });
        };

        $('input[type=submit]').click(function() {
            var q = $('input[type=text]').val();
            q = q + ' account:12872-knight-lab project:"Chicago City Hall Monitor"';
            $.ajax({
                url: 'https://www.documentcloud.org/api/search.json?q=' + q + '&per_page=1000&data=true'
            })
            .success(function(data) {
                var groups = {};

                $.each(data.documents, function(i, doc) {
                    if(doc.data.MatterId in groups) {
                        groups[doc.data.MatterId]['docs'].push(doc);
                    } else {
                        groups[doc.data.MatterId] = {
                            'data': doc.data,
                            'docs': [doc]
                        };
                    }
                });

                $('#search-results').empty();

                 if(data.documents.length) {
                    $.each(groups, function(i, g) {
                        addResult(g);
                    });
                } else {
                    $('#search-results').html(
                        '<div data-alert class="alert-box">No matching documents found</div>'
                    );
                }                
            });
        });

        $('.example-search').click(function() {
              console.log($(this).text());
              $('#search-input').val($(this).text());
              $('#search-submit').click();
              return false;
        });
    });
</script>
