{% extends "base.html" %}
{% block nav %}
  {% include "_nav.html" %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="small-8 small-offset-2 columns">
        <h2>Manage subscriptions</h2>
        <p>Enter your email address below, and we'll send you a link to manage your subscriptions.</p>
        <form>
            <div class="row collapse">
                <div class="small-6 columns">
                    <input type="text" id="manage-subs" placeholder="Email address you subscribed with">
                </div>
                <div class="small-2 columns">
                    <input type="submit" value="Submit" id="manage-submit" class="button tiny postfix">
                </div>
                <div class="small-4 columns">
                  <p id="manage-alert" class="status-msg"><span></span></p>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}

{% block extra_scripts %}

<script type="text/javascript">

function manage_alert(msg, detail, type) {
    $('#manage-alert > span').html(msg + (detail ? detail : ''));
    if ($('#manage-alert').hasClass('error') && type != 'error') {
      $('#manage-alert').removeClass('error');
    } else if (type == 'error'){
      $('#manage-alert').addClass('error');
    }
    $('#manage-alert').show();
}

$(function() {
    $(document).foundation();

    $('#manage-submit').click(function(event) {
        $('#manage-alert').hide();

        var email = $('#manage-subs').val().trim();
        if(email) {
            $('#manage-submit').prop('disabled', true);

            $.ajax({
                url: '{% url "send_notifications_link" %}',
                type: 'GET',
                data: {
                    email: email
                },
                cache: false,
                dataType: 'json',
                timeout: 20000,
                error: function(xhr, status, err) {
                    manage_alert('Error sending link', err, "error");
                },
                success: function(data) {
                    if(data.error) {
                        manage_alert('Error sending link: ', data.error, "error");
                    } else {
                        manage_alert('A link has been sent to ', email, "success");
                    }
                },
                complete: function() {
                    $('#manage-submit').prop('disabled', false);
                }
            });
        }
    });
});

</script>

{% endblock extra_scripts %}
