{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="small-8 small-offset-2 columns">
    <h2>Manage subscriptions</h2>
    <p>Enter your email address below, and we'll send you a link to manage your subscriptions.</p>
    <form>
      <div class="row collapse">
        <div class="small-10 columns">
          <input type="text" id="manage-subs" placeholder="Email address you subscribed with">
        </div>
        <div class="small-2 columns end">
          <input type="submit" value="Submit" class="button tiny postfix">
        </div>
    </div>
  </form>
</div
{% endblock %}
